<!DOCTYPE html>
<html lang="en">
  <head>
   <%-include('partials/head') %> 
  </head>
  <body>
    <%-include('partials/nav')%>
    
        <h2><%= special.name %></h2>
        <p><%= special.description %> </p>
        <h3>$<%= special.price %></h3>
  
    
  </body>
</html>